Repository TilsynForUniversellUtforming/testreglar-wcag-2.x, pull requests merged in 2025-04, with the labels that each got.

#788 Fix ruting og oppdatert test
  Testreglar/3.3.1/App/app-3.3.1a-2022.json
  Testreglar/3.3.4/Nett/3.3.4b.json
  Tests/format.test.ts
Labels: bug

#743 Nett-1.1.1a Ikke-lenkede bilder har tekstalternativ 2025
  Testreglar/1.1.1/Nett/111a2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 25.04

#744 Nett-1.1.1b Formål med lenkede bilder går frem av lenketekst eller te…
  Testreglar/1.1.1/Nett/111b2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025

#747 Nett-1.4.3a Det er tilstrekkelig kontrast mellom tekst og bakgrunn 2025
  Testreglar/1.4.3/Nett/143a2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 25.04

#750 Nett-1.4.3b Det er tilstrekkeleg kontrast mellom tekst og bakgrunn i bilde av tekst 2025
  Testreglar/1.4.3/Nett/143b2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 25.04

#798 test: Oppdatert test for å sjekke at svarArray berre er brukt på steg…
  Testreglar/3.3.2/App/app-3.3.2a.json
  Testreglar/3.3.2/Nett/nett-3.3.2a.json
  Testreglar/4.1.3/Nett/nett-4.1.3a.json
  Tests/format.test.ts
  package-lock.json
Labels: Forbedring

#749 Nett-1.3.1a Visuelle overskrifter er korrekt kodet 2025
  Testreglar/1.3.1/Nett/131a2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 25.04

#765 Nett-1.3.1c Visuelle lister er korrekt kodet 2025
  Testreglar/1.3.1/Nett/131c2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 25.04

#766 App-1.3.1c Visuelle lister er korrekt kodet 2025
  Testreglar/1.3.1/App/app131c2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 30.04.2025

#768 App-1.4.10a Dynamisk tilpasning av apper 2025
  Testreglar/1.4.10/App/app1410a2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 30.04.2025

#767 Nett-1.4.10a Dynamisk tilpasning av nettsider 2025
  Testreglar/1.4.10/Nett/1410a2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Frist 30.04.2025
