Repository TilsynForUniversellUtforming/testreglar-wcag-2.x, pull requests merged in 2025-05, with the labels that each got.

#780 Nett-2.4.6b Ledetekstar beskriv skjemaelement 2025
  Testreglar/2.4.6/Nett/246bnett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#781 App-2.4.6b Ledetekstar beskriv skjemaelement 2025
  Testreglar/2.4.6/App/246bApp2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#786 Nett-3.3.1a Skjema gir feilmelding hvis tomme obligatoriske skjemafel…
  Testreglar/3.3.1/Nett/331aNett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#782 App-2.5.3a Synlig ledetekst er en del av tilgjengelig navn 2025
  Testreglar/2.5.3/App/253aApp2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#783 Nett-2.5.3a Synlig ledetekst er en del av tilgjengelig navn 2025
  Testreglar/2.5.3/Nett/253aNett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#787 App-3.3.1a Skjema gir feilmelding hvis tomme obligatoriske skjemafelt…
  Testreglar/3.3.1/App/331aApp2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#807 App-3.3.2a Inndataelementer har instruksjon eller ledetekst 2025
  Testreglar/3.3.2/App/332aApp2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#810 App-3.3.1b Skjema gir feilmelding hvis feil inndata blir oppdaget aut…
  Testreglar/3.3.1/App/331bApp2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#831 fix: App-3.3.1b - bytta fra nettside til app i spm 2.5
  Testreglar/3.3.1/App/331bApp2025.json
Labels: bug

#811 Nett-2.1.1a Det er mogleg å nå innhald og bruke funksjonalitet med ta…
  Testreglar/2.1.1/Nett/211nett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#812 App-2.1.1a Det er mogleg å nå innhald og bruke funksjonalitet med sve…
  Testreglar/2.1.1/App/211app2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#813 Nett-2.4.7a Innhald som kan brukast med tastatur, får synleg fokusmar…
  Testreglar/2.4.7/Nett/247anett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#814 Nett-4.1.2b For knapper kan tilgjengelig navn, rolle og tilstand best…
  Testreglar/4.1.2/Nett/412bNett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#827 App-4.1.2a For brukergrensesnittkomponenter kan tilgjengelig navn, ro…
  Testreglar/4.1.2/App/412aApp2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#815 Nett-4.1.2c Iframe har et tilgjengelig navn som beskriver formålet me…
  Testreglar/4.1.2/Nett/412cNett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#816 Nett-4.1.3a Statusbeskjeder kan bestemmes programmatisk 2025
  Testreglar/4.1.3/Nett/413aNett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#826 Nett-4.1.2a For skjemaelementer kan tilgjengelig navn, rolle og tilst…
  Testreglar/4.1.2/Nett/412aNett2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025

#838 forbedra test
  Tests/format.test.ts
  index.json
Labels: Forbedring

#840 412aNett2025 - Satt korrekt steg for element
  Testreglar/4.1.2/Nett/412aNett2025.json
Labels: bug

#841 Mindre feilrettinger app131c2025.json
  Testreglar/1.3.1/App/app131c2025.json
Labels: bug

#843 Syntaksfiks app143a2025.json
  Testreglar/1.4.3/App/app143a2025.json
Labels: bug

#820 Create Doku-3.1.1a Hovudspråket på nettsida er programmatisk bestemt 2025
  Testreglar/3.1.1/dok/Doku-3.1.1a Hovudspråket på nettsida er programmatisk bestemt 2025
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025, Ny testregel

#817 Create Doku-1.3.1a Visuelle overskrifter er korrekt kodet 2025
  Testreglar/1.3.1/dok/Doku-1.3.1a Visuelle overskrifter er korrekt kodet 2025
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025, Ny testregel

#818 Create Doku-1.3.1c Visuelle lister er korrekt kodet 2025
  Testreglar/1.3.1/dok/Doku-1.3.1c Visuelle lister er korrekt kodet 2025
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, 07.05.2025, Ny testregel

#845 App-1.1.1a Bilde har tekstalternativ 2025
  Testreglar/1.1.1/App/app111a2025.json
Labels: Kvalitetssikring er gjennomført, Testreglar 2025

#846 Doku-2.4.2a Dokument har beskrivende sidetittel 2025
  Testreglar/2.4.2/dok/Doku-2.4.2a Dokument har beskrivande sidetittel 2025
Labels: Kvalitetssikring er gjennomført, Testreglar 2025, Ny testregel

#847 Nett-1.1.1a Ikke-lenkede bilder har tekstalternativ 2025
  Testreglar/1.1.1/Nett/111a2025.json
Labels: Kvalitetssikring er gjennomført
